body,
html {
	height: 100%;
	box-sizing: border-box;
	height: 100vh;
}

.none {
	display: none;
}

.content-initial {
	width: 100%;
	height: 100vh;
	margin-bottom: 0;
	background-color: #FB6B6B;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.content-initial button {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Recursive', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;

	/* identical to box height */
	text-align: center;

	color: #D70900;
	margin-bottom: 100px;
}

.initial-recall {
	font-family: 'Righteous';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 45px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.012em;
	margin: 40px;

	color: #FFFFFF;
}

.initial-button {
	background: #FFFFFF;
	border: 1px solid #D70900;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	width: 246px;
	height: 54px;
}

.logo img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 136px;
	height: 161px;

}

.content-questions {
	width: 100%;
	height: 100%;
	background-color: #FB6B6B;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.question-button {
	background: #FFFFFF;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	font-family: 'Recursive', sans-serif;
	padding-left: 15px;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	width: 300px;
	height: 65px;
	color: #333333;
	margin: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;

}

.content-questions ion-icon {
	font-size: x-large;
	display: flex;


}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FB6B6B;
	padding-top: 80px;
	margin-bottom: 0px;
	padding-bottom: 0px;

}

.logo-pequeno img {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 52px;
	height: 60px;

}

.title {
	width: 203.17px;
	height: 44px;

	font-family: 'Righteous';
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 45px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: -0.012em;

	color: #FFFFFF;

	transform: rotate(0.58deg);
}

.footer span {
	display: flex;
	font-family: 'Recursive';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	justify-content: center;
	padding: 2.3rem;


	/* identical to box height */

	color: #333333;


}

.questionAndAnswer {
	border-width: 2px;
	width: 100%;
	height: 100%;

	background: #FFFFD5;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;

	font-family: 'Recursive';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;

	/* identical to box height */

	color: #333333;
}

.deck {
	width: 100%;
	height: 100vh;
	margin-bottom: 0;
	background-color: #FB6B6B;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

ion-icon {
	font-size: 1.5rem;
}

.flashcards {
	margin-top: 2rem;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flashcard {
	background: #FFFFFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	border-radius: 5px;
	font-family: 'Recursive', sans-serif;
	padding: 1rem;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	width: 300px;
	height: 65px;
	color: #333333;
	margin: 32px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.ruim,
.medio,
.bom {
	font-family: 'Recursive', sans-serif;
	font-weight: bold;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	width: 300px;
	height: 65px;
	padding: 1rem;
	margin: 32px;
	border-radius: 5px;
	background-color: #fff;
	text-decoration: line-through;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ruim,ion-icon[name="ban-sharp"] {
	color: #e91616;
	
}

.medio,
ion-icon[name="help-circle-sharp"] {
	color: #FF922E;
}

.bom,
ion-icon[name="checkmark-circle-sharp"] {
	color: #2FBE34;
}

.ruim,
.medio,
.bom ion-icon {
	font-weight: bold;
}

.pergunta {
	position: relative;
	font-family: 'Recursive', sans-serif;
	width: 70%;
	min-height: 150px;
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: 5px;
	background-color: #FFFFD4;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	padding-left: 15px;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	width: 300px;
	height: 65px;
	color: #333333;
	margin: 40px;
	align-items: center;
	justify-content: space-around;
}

.pergunta ion-icon,
.setinha {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 20px;
	height: 20px;
}

.opcoes {
	width: 96%;
	margin: 0 auto;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	bottom: 5px;
	right: 2%;
}

.opcoes p {
	font-size: 0.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28%;
	height: 40px;
	padding: 5px;
	color: #fff;
	border-radius: 3px;
}

.nivel-ruim {
	background-color: #FF3030;
}

.nivel-medio {
	background-color: #FF922E;
}

.nivel-bom {
	background-color: #2FBE34;
}

.footer {
	background-color: aliceblue;
	color: #333;
	padding-top: 25px;
	padding-bottom: 30px;
	bottom: 0;
	position: relative;
	font-weight: 700;
	height: 65px;
	width: 100%;
	font-family: "Recursive", sans-serif;
	text-align: center;
	align-items: center;
	justify-items: center;
}

.resultado {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 0.5rem;
}

.resultado div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0.5rem;
}

.resultado div p {
	margin-left: 0.5rem;
	font-weight: bold;
}